body {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-align: center;
    /* position: relative; */
}
p{
    font-size: 20px;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50.5rem;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.container-fluid {
    padding: .2% .2%;
  }
.container-fluid-2 {
  padding: .01% .01%;
  image-orientation: initial;
}
.container-fluid-3 {
  padding: .1% .1%;
  background-color: #dbf4ed;
  
}
img{
 width: 150px;
 height: 100px;
 vertical-align: middle;
}
span{
  font-size: 30px;
  text-align: middle;
}
  @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  .white-section {
    background-color: #fff;
  }

.navbar {
    padding: 0 0 4.5rem;
}

#footer {
    background-color: #fff;
    text-align: center;
    font-size: 50px;
  }
  
  .social-icon {
    padding: 20px 10px;
  }
.nav-item {
    font-size: 3.5rem;
    padding: 0 18px;
}
.ic{
    padding: 50px;
}
.nav-link {
    font-size: 3.2rem;
}

/*Quick Links for States*/

.box-title{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

.main-block{
  display:block;
  background-color: beige;
}

.content-block{
  display: flex;
}

.state-block{
  display:flex;
  width:60%;
}

.ut-block{
  display:flex;
  width: 30%
}

.States{
  list-style: none;
}

.state-element{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.state-element:hover{
  color: #138808
}

.state-title{
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 10%;
}

.row{
  padding:0 5%;
}
